export AWS_ACCESS_KEY_ID=$(aws --profile ybryan configure get aws_access_key_id)
export AWS_SECRET_ACCESS_KEY=$(aws --profile ybryan configure get aws_secret_access_key)
export AWS_DEFAULT_REGION=$(aws --profile ybryan configure get region)
export AWS_CLI_PROFILE=ybryan
